.carousel {
  position: relative;
  text-align: center;
  width:100%;
  height:400px;
}

.carousel img {
  width: 100%;
  max-height: 400px;
  border-radius: 10px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0,0,0,0.3);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}
