.footer {
  background-color: #6ba3f1;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.footer-map-container {
  position: relative;
  width: 100%;
  height: 450px;
}

.footer-map-container-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
