.header {  
  background-color: white;
  color: #01060f;
  padding: 20px;
  text-align: center;
}
 .nav-link-font {
  font-family: var(--ant-font-family);
  font-size: 14px;
  font-weight: 400;
  color:#1677ff;
  /* #1677ff */
  text-decoration: none;
}
.navbar {
  position: sticky;
  top:0;
  z-index:1000;

  background-color: #ffffff;
  height: 52px;

  display: flex;
  align-items: center;   /* vertically center items */
  justify-content: center;
}
.ant-dropdown-menu a .nav-link-font {
  color: #1677ff;
  font-family: var(--ant-font-family);
  font-size: 14px;
  font-weight: 400;

}
.ant-dropdown-menu-title-content {
  font-family: var(--ant-font-family);
  font-size: 14px;
  font-weight: 400;
  color: #1677ff;
}

.ant-dropdown-menu-title-content a {
  color: inherit;
  text-decoration: none;
}