.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.button {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
}